.history-section {
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    padding-top: var(--padding-vertical);
    padding-bottom: var(--padding-vertical);
}

.history-wrap {
    .display-flex();
}

.history {
    width: 66%;
}

.history__text {
    margin-bottom: 30px;
}

.history__list {
    margin-bottom: 30px;

    .swiper-wrapper {
        .column();
        gap: 30px;
    }
}

.history__item {
    .display-flex();
    .align-items-start();
    gap: 24px;
    background-color: #fff;
    border-radius: 12px;
    padding: 32px;
}

.history__icon {
    width: 48px;
    height: auto;
}

.history-image {
    width: 34%;
    padding-left: 30px;
}

.history-image__picture {
    border-radius: 12px;
    display: block;
    overflow: hidden;
    position: sticky;
    top: 30px;

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.history__buttons .btn {
    width: 100%;
}

@media all and (max-width: @bp-1590) {
    .history__icon {width: 40px;}
}

@media all and (max-width: @bp-1350) {
    .history-image {padding-left: 20px;}
    .history__list {margin-bottom: 20px;}
    .history__list .swiper-wrapper {gap: 20px;}
    .history__item {gap: 16px; padding: 24px;}
    .history__icon {width: 32px;}
    .history__text {margin-bottom: 20px;}
}

@media all and (max-width: @bp-836) {
    .history-section {overflow: hidden;}
    .history-wrap {.column(); .align-items-center();}
    .history-image {.flex-order(-1); margin-bottom: 20px; padding-left: 0; width: auto; max-width: 100%;}
    .history {width: 100%;}
}

@media all and (max-width: @bp-599) {
    .history__list.swiper {overflow: visible;}
    .history__list .swiper-wrapper {.row-nowrap(); gap: 0;}
    .history__item {.column(); padding: 16px; width: 235px;}
}
