.breadcrumbs {
    font-size: 0;
    list-style: none;
    overflow: auto;
    margin: 0 0 30px;
    padding: 0;
    white-space: nowrap;
    position: relative;
    z-index: 15;
}

.breadcrumbs__item {
    color: @black;
    display: inline-block;

    &:not(:last-child)::after {
        content: '/';
        display: inline-block;
        font-size: 10px;
        margin: 0 8px;
    }

}

.breadcrumbs__link {
    display: inline-block;
    font-size: 12px;
    color: currentColor;

    a& {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    span& {
        opacity: 0.5;
    }
}

@media all and (max-width: @bp-1350) {
    .breadcrumbs {margin-bottom: 20px;}
}
