.inputbox {
    background-color: #fff;
    border: 1px solid #8D796E;
    border-radius: 12px;
    box-shadow: none;
    box-sizing: border-box;
    color: @gray;
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    padding: 12px 20px;
    width: 100%;

    &::-webkit-input-placeholder {
        color: @gray;
        opacity: 0.5;
    }

    &::-moz-placeholder {
        color: @gray;
        opacity: 0.5;
    }

    &:-moz-placeholder {
        color: @gray;
        opacity: 0.5;
    }

    &:-ms-input-placeholder {
        color: @gray;
        opacity: 0.5;
    }
}

textarea.inputbox {
    height: 96px;
    resize: none;
}

select.inputbox {
    
}

.checkbox {
    input {
        .visually-hidden();
    }

    input:checked + .checkbox__label {
        &::before {
            background-color: @black;
            border-color: @black;
        }

        &::after {
            transform: scale(1);
        }
    }

    a {
        color: @dark-beige;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &.error {
        .checkbox__label::before {
            border-color: #FF0000;
        }
    }
}

.checkbox__label {
    cursor: pointer;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding-left: 30px;
    position: relative;

    &::before {
        content: '';
        border: 1px solid @dark-beige;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        .transition(background, border);
    }

    &::after {
        background-image: url('../images/icons/check.svg');
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 4px;
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0);
        transition: all 0.3s ease;
    }

    span {
        opacity: 0.5;
    }
}

.radiobox {
    input {
        .visually-hidden();
    }

    input:checked + .radiobox__label {
        &::before {
            border: 6px solid @black;
        }
    }

    a {
        color: @dark-beige;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.radiobox__label {
    cursor: pointer;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding-left: 30px;
    position: relative;

    &::before {
        content: '';
        border: 1px solid @dark-beige;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        .transition(border);
    }

    span {
        opacity: 0.5;
    }
}

.form {
    .btn {
        width: 100%;
    }
}

.form__row {
    .display-flex();
    gap: 20px;

    

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.form__element {
    width: 100%;

    &.error {
        .inputbox {
            border-color: #FF0000;
            color: #FF0000;
        }
    }
}

.error__text {
    display: block;
    color: #FF0000;
    font-size: 10px;
    margin-top: 8px;
}

.form__checkbox {
    .column();
    gap: 10px;
    margin-top: -10px;

    .checkbox {
        color: @gray;
        font-size: 12px;

        a {
            color: @gray;
        }
    }

    .checkbox__label {
        color: @gray;
        font-size: 12px;
        line-height: 15px;
        padding-left: 24px;

        &::before, &::after {
            height: 16px;
            width: 16px;
        }

        a {color: @gray;}
    }
}

.inputfile {
    cursor: pointer;
    display: block;
    width: 100%;

    input {.visually-hidden();}
}

.inputfile__label {
    .display-flex();
    .align-items-center();
    .justify-content-between();
    gap: 20px;
    color: @gray;
    font-size: 24px;
    font-weight: 400;

    svg {
        fill: currentColor;
        width: 32px;
        height: 32px;
    }

    .small {
        font-size: 16px;
        margin-left: auto;
    }
}

@media all and (max-width: @bp-1590) {
    .checkbox__label {font-size: 14px;}
    .radiobox__label {font-size: 14px;}
}

@media all and (max-width: @bp-1350) {
    .inputbox {padding: 9px 16px;}

    .form__row {gap: 10px;}
    .form__row:not(:last-child) {margin-bottom: 10px;}
    .form__checkbox {margin-top: 0;}

    .inputfile__label {font-size: 20px;}
}

@media all and (max-width: @bp-599) {
    .form__row {.column();}

    .inputfile__label {.row-wrap();}
}